<div class="container-fluid my-2">
	<tabset type="pills">
		<tab [customClass]="purple_active" heading="All Services">
			<!-- all services container -->
			<div class="container-fluid px-0 my-2">
				<div class="card my-2 purple-card" *ngFor="let service of userServiceList">
					<div class="card-body py-2 row">
						<div class="col-sm-8">
							<p class="purple-card-header my-1">
								<span class="badge badge-published mr-2" *ngIf="service.published">Published</span>
								<span class="badge badge-unpublished mr-2" *ngIf="!service.published">Unublished</span>
								{{service.serviceName}}
							</p>
							<a class="purple-card-link my-1">{{service.serviceUrl}}</a>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-purple btn-sm my-1 mr-1 ml-3 float-right" (click)="loadLogsPage(service.serviceId)"
							 tooltip="Logs" placement="top" container="body">
								<i class="fal fa-file-alt fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" (click)="deleteService(service.serviceId)"
							 tooltip="Delete" placement="top" container="body">
								<i class="fal fa-trash-alt fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" (click)="loadEditPage(service.serviceId)"
							 tooltip="Edit" placement="top" container="body">
								<i class="fal fa-file-edit fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" (click)="publishService(service.serviceId)"
							 *ngIf="!service.published" tooltip="Publish" placement="top" container="body">
								<i class="fal fa-link fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" (click)="unpublishService(service.serviceId)"
							 *ngIf="service.published" tooltip="Unpublish" placement="top" container="body">
								<i class="fal fa-unlink fa-lg"></i>
							</button>
						</div>
					</div>
				</div>
				<!--<div class="card my-2 purple-card">
					<div class="card-body py-2 row">
						<div class="col-sm-8">
							<p class="purple-card-header my-1">
								<span class="badge badge-unpublished mr-2">Unublished</span>
								Web Service Name
							</p>
							<a class="purple-card-link my-1">https://www.serviceaccess.url/servicename</a>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-purple btn-sm my-1 mr-1 ml-3 float-right" tooltip="Logs" placement="top"
							 container="body" (click)="loadLogsPage()">
								<i class="fal fa-file-alt fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" tooltip="Delete" placement="top"
							 container="body">
								<i class="fal fa-trash-alt fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" tooltip="Edit" placement="top"
							 container="body" (click)="loadEditPage()">
								<i class="fal fa-file-edit fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" tooltip="Publish" placement="top"
							 container="body">
								<i class="fal fa-link fa-lg"></i>
							</button>
						</div>
					</div>
				</div>-->
			</div>
		</tab>
		<tab heading="Published Services">
			<!-- publish services container -->
			<div class="container-fluid px-0 my-2">
				<div class="card my-2 purple-card" *ngFor="let service of filter(userServiceList, true)">
					<div class="card-body py-2 row">
						<div class="col-sm-8">
							<p class="purple-card-header my-1">
								<span class="badge badge-published mr-2" *ngIf="service.published">Published</span>
								<span class="badge badge-unpublished mr-2" *ngIf="!service.published">Unublished</span>
								{{service.serviceName}}
							</p>
							<a class="purple-card-link my-1">{{service.serviceUrl}}</a>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-purple btn-sm my-1 mr-1 ml-3 float-right" (click)="loadLogsPage(service.serviceId)"
							 tooltip="Logs" placement="top" container="body">
								<i class="fal fa-file-alt fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" (click)="deleteService(service.serviceId)"
							 tooltip="Delete" placement="top" container="body">
								<i class="fal fa-trash-alt fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" (click)="loadEditPage(service.serviceId)"
							 tooltip="Edit" placement="top" container="body">
								<i class="fal fa-file-edit fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" (click)="publishService(service.serviceId)"
							 *ngIf="!service.published" tooltip="Publish" placement="top" container="body">
								<i class="fal fa-link fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" (click)="unpublishService(service.serviceId)"
							 *ngIf="service.published" tooltip="Unpublish" placement="top" container="body">
								<i class="fal fa-unlink fa-lg"></i>
							</button>
						</div>
					</div>
				</div>
				<!--<div class="card my-2 purple-card">
					<div class="card-body py-2 row">
						<div class="col-sm-8">
							<p class="purple-card-header my-1">
								<span class="badge badge-published mr-2">Published</span>
								Web Service Name
							</p>
							<a class="purple-card-link my-1">https://www.serviceaccess.url/servicename</a>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-purple btn-sm my-1 mr-1 ml-3 float-right" tooltip="Logs" placement="top"
							 container="body">
								<i class="fal fa-file-alt fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" tooltip="Unpublish" placement="top"
							 container="body">
								<i class="fal fa-unlink fa-lg"></i>
							</button>
						</div>
					</div>
				</div>-->
				<!--<div class="card my-2 purple-card">
					<div class="card-body py-2 row">
						<div class="col-sm-8">
							<p class="purple-card-header my-1">
								<span class="badge badge-published mr-2">Published</span>
								Web Service Name
							</p>
							<a class="purple-card-link my-1">https://www.serviceaccess.url/servicename</a>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-purple btn-sm my-1 mr-1 ml-3 float-right" tooltip="Logs" placement="top"
							 container="body">
								<i class="fal fa-file-alt fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" tooltip="Unpublish" placement="top"
							 container="body">
								<i class="fal fa-unlink fa-lg"></i>
							</button>
						</div>
					</div>
				</div>-->
			</div>
		</tab>
		<tab heading="Unpublished Services">
			<!-- unpublish services container -->
			<div class="container-fluid px-0 my-2">
				<div class="card my-2 purple-card" *ngFor="let service of filter(userServiceList, false)">
					<div class="card-body py-2 row">
						<div class="col-sm-8">
							<p class="purple-card-header my-1">
								<span class="badge badge-published mr-2" *ngIf="service.published">Published</span>
								<span class="badge badge-unpublished mr-2" *ngIf="!service.published">Unublished</span>
								{{service.serviceName}}
							</p>
							<a class="purple-card-link my-1">{{service.serviceUrl}}</a>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-purple btn-sm my-1 mr-1 ml-3 float-right" (click)="loadLogsPage(service.serviceId)"
							 tooltip="Logs" placement="top" container="body">
								<i class="fal fa-file-alt fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" (click)="deleteService(service.serviceId)"
							 tooltip="Delete" placement="top" container="body">
								<i class="fal fa-trash-alt fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" (click)="loadEditPage(service.serviceId)"
							 tooltip="Edit" placement="top" container="body">
								<i class="fal fa-file-edit fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" (click)="publishService(service.serviceId)"
							 *ngIf="!service.published" tooltip="Publish" placement="top" container="body">
								<i class="fal fa-link fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" (click)="unpublishService(service.serviceId)"
							 *ngIf="service.published" tooltip="Unpublish" placement="top" container="body">
								<i class="fal fa-unlink fa-lg"></i>
							</button>
						</div>
					</div>
				</div>
				<!--<div class="card my-2 purple-card">
					<div class="card-body py-2 row">
						<div class="col-sm-8">
							<p class="purple-card-header my-1">
								<span class="badge badge-unpublished mr-2">Unublished</span>
								Web Service Name
							</p>
							<a class="purple-card-link my-1">https://www.serviceaccess.url/servicename</a>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-purple btn-sm my-1 mr-1 ml-3 float-right" tooltip="Logs" placement="top"
							 container="body">
								<i class="fal fa-file-alt fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" tooltip="Delete" placement="top"
							 container="body">
								<i class="fal fa-trash-alt fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" tooltip="Edit" placement="top"
							 container="body">
								<i class="fal fa-file-edit fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" tooltip="Publish" placement="top"
							 container="body">
								<i class="fal fa-link fa-lg"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="card my-2 purple-card">
					<div class="card-body py-2 row">
						<div class="col-sm-8">
							<p class="purple-card-header my-1">
								<span class="badge badge-unpublished mr-2">Unublished</span>
								Web Service Name
							</p>
							<a class="purple-card-link my-1">https://www.serviceaccess.url/servicename</a>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-purple btn-sm my-1 mr-1 ml-3 float-right" tooltip="Logs" placement="top"
							 container="body">
								<i class="fal fa-file-alt fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" tooltip="Delete" placement="top"
							 container="body">
								<i class="fal fa-trash-alt fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" tooltip="Edit" placement="top"
							 container="body">
								<i class="fal fa-file-edit fa-lg"></i>
							</button>
							<button type="button" class="btn btn-outline-purple btn-sm m-1 float-right" tooltip="Publish" placement="top"
							 container="body">
								<i class="fal fa-link fa-lg"></i>
							</button>
						</div>
					</div>
				</div>-->
			</div>
		</tab>
	</tabset>
</div>