<div class="navbar navbar-light purple-nav-bar">
	<div class="navbar-brand">
		<!-- <img src="../../assets/images/mainimage.png" width="auto" height="30" class="d-inline-block align-top ml-1 mr-1" alt=""> -->
		<!-- <i class="fab fa-nintendo-switch"></i> -->
		<p class="d-inline-block align-top ml-1 mr-1 h4">Service App</p>
		<div class="d-inline-block align-top vertical-line ml-1 mr-1"></div>
	</div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="showToggleMenu()">
		<i class="fa fa-ellipsis-v"></i>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'toggle-border-top': isToggleMenu}">
		<ul class="navbar-nav mr-auto">
		</ul>
		<div class="form-inline my-2 my-lg-0 float-right">
			
		</div>
	</div>
</div>