/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
    margin: 0px;
    height: 100%;
}

body {
    background-color: #f7f9fb;
    font-size: 14px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.docs-component-sidenav-inner-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

